
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */




*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}