
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */
body {
  margin: 0;
  background-color: #f5f7fa;
  /* color: #333; */
  
  
  
}



*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}