.signup::-webkit-scrollbar {
  width: 5px;
}

.signup::-webkit-scrollbar-track {
  background: #2a50c2;
  border-radius: 5px;
}

.signup::-webkit-scrollbar-thumb {
  background: #9182ed;
  border-radius: 5px;
}

.signup::-webkit-scrollbar-thumb:hover {
  background: #bfbbbb;
}